h1 {
    display: block;
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 0.67em;
    margin-left: 0.67em;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
}

header {
    color: #ffffff;
    left: 0px;
    right: 0px;
    top: 0px;
    position: fixed;
    background-color: #000000;
    box-sizing: border-box;
    width: 100%;
}

header a{
    color: #ffffff;
	margin: 20px;
    display: table-cell;
    width: 100%;
    table-layout: fixed;
    text-align: center;
}

div.container {
    display: table;
}

div.intro {
    display: table-cell;
}

div.login {
    display: table-cell;
}

div.body {
    padding-top: 20px;
}

div.links {
    display: table;
    width:100%;
}

div.links a {
    display: table-cell;
    text-align: center;
}

div.intro {
    display: flex;
}

div.intro h1{
    padding-left: 10px;
}

div.container h1{

}
footer {
    padding-top: 20px;
}

a{
    margin: 0 1em 0 0;
}


