h1 {
    display: block;
    font-size: 1.5em;
    color: cornflowerblue;
    margin-top: 1em;
    margin-bottom: 0.67em;
    margin-left: 0.67em;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
}

header {
    color: aliceblue;
    left: 0px;
    right: 0px;
    top: 0px;
    position: fixed;
    background-color: #000000;
    box-sizing: border-box;
    width: 100%;
}

header a {
    color: #ffffff;
    margin: 20px;
    display: table-cell;
    width: 100%;
    table-layout: fixed;
    text-align: center;
}

div.container {
    display: table;
    color: lightblue;
}

div.intro {
    display: table-cell;
}

div.login {
    display: table-cell;
}

div.body {
    color: cadetblue;
    padding-top: 20px;
}

div.links {
    display: table;
    width: 100%;
}

div.links a {
    display: table-cell;
    color: cornflowerblue;
    text-align: center;
}

div.intro {
    display: flex;
}

div.intro h1 {
    padding-left: 10px;
}

div.container h1 {

}

footer {
    padding-top: 20px;
    color: cadetblue;
}

a {
    margin: 0 1em 0 0;
}

h1 {
    display: block;
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 0.67em;
    margin-left: 0.67em;
    margin-right: 0;
    font-weight: bold;
}

.link {
    position: relative;
    margin: 0 0 20px 20px;
    float: right;
    clear: left;
    width: 120px;
    padding: 100%;
    top: 10%;
    right: 5%;
}

.question-wrapper {
    display: block;
}

.question {
    border: solid;
}

.question-bar {
    display: table-cell;
    color: blue;
}

.content {
    border: solid;
    width: 80%;
    float: left;
    position: relative;
}

.sidebar {
    border: solid;
    width: 20%;
    float: right;
    position: relative;
    align-self: center;
}

.no-bullets {
    padding-right: 10px;
    list-style-type: none;

}

#header-search {
    position: relative;
    float: right;
}


