h1 {
    display: block;
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 0.67em;
    margin-left: 0.67em;
    margin-right: 0;
    font-weight: bold;
}


div.a {
    position:relative;
    float:right;
    height: 400px;
    width: 100%;
    top:0px;
	}