{% extends 'forum/base.html' %}
{% load staticfiles %}

{% block title_block %}
    - About
{% endblock %}

{% block body_block %}
	<h3>About page </h3> 
	<p>Torum is a website created by Kyriacos Demetriou, Mathew Connor and Emily Youngs for WAD2 project.
	Torum is used to facilitate information between tutors and students who have questions on particular aspects 
	of the course out with normal office hours. It's main purpose is for university's of Glasgow students to use Torum
	in order to ask any question they want about their subjects, and tutors can comment on their questions and answer.
	</p>
	
	<div>
		<img src="{% static "images/AboutPage.png" %}",alt="About website" />
	</div>
{% endblock %}