<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/forum-jquery.js" %}"></script>

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">


    <title>
        Torum
        {% block title_block %}
            Where all your questions go to bed
        {% endblock %}
    </title>

</head>

<body style="
    padding: 60px;
">

<header>

<div id="header-container" class="container" style="width: 95%;">
    <div id=" header-intro" class="intro">
        <a href="{% url 'index' %}" style="width: 20%;"><img src="/static/images/tutorlogo.png"/></a>
        <h1 style="align-self: center;">
        A tutor form created by undergraduate students to help undergraduates succeed
        </h1>
    </div>

    <div id="header-search" class="search" style="display: table-cell; align-self: center;">
        <form method="get" action = "index.html">
        <input type ="text" name="search" placeholder="Search a topic here..."/>
        <input type="submit" value="Search Here"/>
        </form>
    </div>

    <div id=" header-login" class="login">
        {% if user.is_authenticated %}
            <!-- Eventually replace with link to current user profile -->
            <a href="{% url 'profile' %}">Profile </a>
            <a href="{% url 'logout' %}">Logout </a>
        {% else %}
            <a href="{% url 'login' %}">Sign in </a>
            <a href="{% url 'register' %}">Sign up </a>
        {% endif %}
    </div>



    </div>
</div>
</header>



<hr>
<div id="body" class="body">
    {% block body_block %}
        <h2>Torum is used to facilitate information between tutors and students who have questions on particular
            aspects of the course outwith normal office hours.</h2>
    {% endblock %}
</div>

<footer>
    <div id="footer-links" class="links">
        <a href="{% url 'colleges' %}">Colleges </a>
        <a href="{% url 'hallOfShame' %}">Hall of Shame </a>
        <a href="{% url 'latestNews' %}">Latest News </a>

        <a href="{% url 'about' %}">About </a>
        <a href="{% url 'leisure' %}">Leisure </a>
        <a href="{% url 'contact_us' %}">Contact us </a>
        <a href="{% url 'FAQ' %}"> FAQ </a>
       


    </div>
    <div id="footer-message">
        {% block footer_block %}
            <p><i>Torum is optimized for learning, testing and training. Tutorials, references and examples are
                constantly
                reviewed to avoid errors, but we cannot warrant full correctness of all content.</i></p>
            <i>While using this site, you agree to have read and accepted our terms of use, cookie and privacy
                policy.
                Copyright
                2017 by Torum. All Rights Reserved.</i>
        {% endblock %}
    </div>

</footer>

</body>

</html>