{% extends 'forum/base.html' %}
{% load staticfiles %}

{% block title_block %}
- Index
{% endblock %}

{% block body_block %}
    <div class="container">
        <h1>WELCOME TO THE UNIVERSITY'S OF GLASGOW OFFICIAL TORUM PAGE</h1>
        {% if user.is_authenticated %}
            Welcome {{ user.username }}!
        {% else %}
            hey there stranger.
        {% endif %}


        <div class="row">
            <div>
                <img src="{% static 'images/indexuni.jpg' %}",alt="glasgow uni"/>
            </div>
                <div class = "">
                <a href="{% url 'create_question' %}"><img src="{% static 'images/ask_a_question.jpg' %}",alt="ask a question"/> </a>
                </div>
        </div>


        <div>
            {% if question_pages %}
            <p>5 most viewed Question pages: </p>
            <ul>
                {% for question_page in question_pages %}
                <li>{{ question_page.title }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <strong>There are no categories present.</strong>
            {% endif %}
        </div>
    </div>
{% endblock %}