{% extends 'forum/base.html' %}
{% load staticfiles %}

{% block title_block %}
     - Modules in {{ school.name }}
{% endblock %}

{% block body_block %}
    <div class="body">
        <div><strong>Modules are listed below:</strong></div>
        <div>
            {% if modules %}
                <ul>
                {% for modules in modules %}
                    <li>
                        <a href="{% url 'questions' module.slug %}">{{ module.name }}</a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

{% endblock %}