{% extends 'forum/base.html' %}
{% load staticfiles %}

{% block title_block %}
 - Profile
{% endblock %}

{% block body_block %}

    <div>
           <h1>Profile: {{ user.username }}</h1>
            <strong>{{ boldmessage }}</strong><br />
        <h2>{% if user.is_authenticated %}
			Welcome {{ user.username }}!
            <img src="{{MEDIA_URL}}{{ user.profile_images }} "/>
            {% else %}
        <img src="{% static "images/profilepic.JPG" %}",alt="Profile picture" />
            {% endif %}
        </h2>

	</div>
{% endblock %}