{% extends 'forum/base.html' %}
{% load staticfiles %}

{% block title_block %}
	- Questions
{% endblock %}

{% block body_block %}
	{% if questions %}
        <p>The questions for {{ module }} are:</p>
         <ul>
             {%  for question in questions %}
                <li><a href="/questions/{{ module }}/ {{ question }}">{{ question.title }}</a></li>
             {% endfor %}
            {
         </ul>

    {% else %}
        <strong>There are no questions for this module</strong>
    {% endif %}
{% endblock %}