{% extends 'forum/base.html' %}
{% load staticfiles %}

{% block title_block %}
    - {{ module.name }}: {{ question_page.title }}
{% endblock %}


{% block body_block %}

    {% if question_page %}
        <div id="content">
            <div id="question-title">
                <h1>{{ question_page.title }}</h1>
            </div>
            <div id="questions" class="content">
                {% if question_posts %}
                    <div class="question-wrapper">
                        {% for question_post in question_posts %}
                            <h1 id="votes">{{ question_post.upvotes }}<img src="{% static 'images/like.JPG' %}",alt="upvote"/> <br>{{ question_post.downvotes }}<img src="{% static 'images/dislike.JPG' %}",alt="downvote"/></h1>
                            <div class="question">
                                <table>
                                    <tr id="content-row">
                                        <td id="vote-column">
                                            <a href="/forum/questionPost/upvote/{{ question_post.page.slug }}/"><img src="{% static 'images/like.JPG' %}",alt="upvote"/></a>
                                            <a href="/forum/questionPost/downvote/{{ question_post.page.slug }}/"><img src="{% static 'images/dislike.JPG' %}",alt="downvote"/></a>

                                        </td>

                                        <td id="content-column">
                                            {{ question_post.text_field }}
                                        </td>
                                    </tr>

                                    <tr id="comment-row">
                                        {% if comments %}
                                            <td id="user-column" width="50%" style="padding-left: 10px">
                                                <!-- Comments shown here -->

                                                    {% for comment in comments %}
                                                    <p>{{ comment.content }}</p>
                                                    {% endfor %}

                                                <!-- End of comment section -->
                                            </td>
                                            <td id="user-column">
                                                {% for comment in comments %}
                                                    {% if comment.user_profile %}
                                                        <a href="{% url 'other_profile' comment.user_profile %}" style="margin: 0 0 0 0">
                                                            <p>{{ comment.user_profile }}</p>
                                                        </a>
                                                    {% else %}
                                                        Anon
                                                    {% endif %}
                                                {% endfor %}

                                            </td>


                                        {% else %}
                                            No comments present
                                        {% endif %}
                                    </tr>
                                    <tr id="post-comment-row">
                                        <!-- Post a comment -->
                                        {% if user.is_authenticated %}

                                            <form id="comment_form" method="post"
                                                  action="{% url 'create-comment' module.slug question_page.slug question_post.id %}"
                                                  enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <!-- Display form -->
                                                {{ comment_form.as_p }}
                                                <!-- Provide a button to click to submit the form -->
                                                <input type="submit" name="submit" value="Post">
                                            </form>

                                        {% else %}
                                            Please login to post a comment
                                        {% endif %}
                                    </tr>
                                </table>
                            </div>
                        {% endfor %}
                        <div id="answer-question">
                            <form id="answer_form" method="post"
                                  action="{% url 'create-post' module.slug question_page.slug %}"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                <!-- Display form -->
                                Please enter your response:
                                {{ post_form.as_p }}
                                <!-- Provide a button to click to submit the form -->
                                <input type="submit" name="submit" value="Post">
                            </form>
                        </div>
                    </div>
                    </div>
                {% else %}
                    <strong>No posts yet!</strong>
                {% endif %}
            <div id="sidebar" class="sidebar"></div>

        </div>
    {% else %}
        The specified question page does not exist!
    {% endif %}
    <script type="text/javascript">
        txt = document.getElementById("votes").innerHTML;
        document.getElementById("sidebar").innerHTML = txt;
        document.getElementById("votes").innerHTML = "";



    </script>

{% endblock %}

<!-- http://stackoverflow.com/questions/4274489/how-can-i-make-an-upvote-downvote-button -->