{% extends 'forum/base.html' %}
{% load staticfiles %}

{% block title_block %}
    - {{ module.name }}: {{ question_page.title }}
{% endblock %}


{% block body_block %}
    <script src="{% static "js/QuestionPage-jquery.js" %}"></script>

    {% if question_page %}
        <div id="content">
            <div id="question-title">
                <h1>{{ question_page.title }}</h1>
            </div>
            <div id="questions" class="content">
                {% if question_posts %}
                    <div class="question-wrapper">
                        {% for question_post in question_posts %}
                            <div class="question">
                                <table>
                                    <tr id="content-row">
                                        <td id="vote-column">
                                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                                            <span class="vote"></span>
                                            <!--
                                            <button id="up" data="{{ question_post }}"
                                                    onclick="IncrementUpVote({{ question_post }})">Upvote
                                            </button>
                                            <button id="down" data="{{ question_post }}"
                                                    onclick="IncrementDownVote({{ question_post }})">Downvote
                                            </button>
                                            -->
                                        </td>

                                        <td id="content-column">
                                            {{ question_post.text_field }}
                                        </td>
                                    </tr>
                                    <tr id="comment-row">
                                        <td id="user-column">
                                            {% if comments %}

                                                <!-- Comments shown here -->
                                                {% for comment in comments %}
                                                    <tr>{{ comment.content }}</tr>
                                                {% endfor %}
                                                <!-- End of comment section -->

                                            {% else %}
                                                No comments present
                                            {% endif %}
                                    </td>
                                    <td id="user-column">
                                        {% if comment.user_profile %}
                                            {{ comment.user_profile }}
                                        {% endif %}
                                    </td>
                                    </tr>
                                    <tr id="post-comment-row">
                                        <!-- Post a comment -->
                                        {% if user.is_authenticated %}
                                            <tr>
                                                <form id="comment_form" method="post" action="{% url 'create-comment' module.slug question_page.slug question_post.id %}"
                                                      enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <!-- Display form -->
                                                    {{ comment_form.as_p }}
                                                    <!-- Provide a button to click to submit the form -->
                                                    <input type="submit" name="submit" value="Post">
                                                </form>
                                            </tr>
                                        {% else %}
                                            Please login to post a comment
                                        {% endif %}
                                    </tr>
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                    </div>
                {% else %}
                    <strong>No posts yet!</strong>
                {% endif %}
            <div id="sidebar" class="sidebar">
                <h1 id="votes">Upvotes={{ question_post.upvotes }} <br>
                    Downvotes={{ question_post.downvotes }}</h1>
            </div>

        </div>
    {% else %}
        The specified question page does not exist!
    {% endif %}
    <script type="text/javascript">
        txt = document.getElementById("votes").innerHTML;
        document.getElementById("sidebar").innerHTML = txt;
        document.getElementById("votes").innerHTML = "";

        function IncrementUpVote(questionPost) {
            questionPost.upvotes = questionPost.upvotes + 1;
            questionPost.save();
            window.location.reload();
        }
        function IncrementDownVote(questionPost) {
            questionPost.downvotes = questionPost.downvotes + 1;
            questionPost.save();
            window.location.reload();
        }

    </script>

{% endblock %}

<!-- http://stackoverflow.com/questions/4274489/how-can-i-make-an-upvote-downvote-button -->