{% extends 'forum/base.html' %}
{% load staticfiles %}

{% block title_block %}
	- {{ module.name }} Questions
{% endblock %}

{% block body_block %}
	{% if questions %}
        <div class="question-wrapper">
        <p>The questions for {{ module.name }} are:</p>
         <ul>
             {%  for question in questions %}
                <li><a href="{% url 'redirect' %}{{ module.slug }}/{{ question.slug }}">{{ question.title }}</a></li>
             {% endfor %}
         </ul>
        </div>
    {% else %}
        <strong>There are no questions for this module</strong>
    {% endif %}
{% endblock %}