{% extends 'forum/base.html' %}
{% load staticfiles %}

{% block title_block %}
     - Schools in {{ college.name }}
{% endblock %}

{% block body_block %}
    <div class="body">
        <div><strong>{{ college.name }} schools are listed below:</strong></div>
        <div>
            {% if schools %}
                <ul>
                {% for school in schools %}
                    <li>
                        <a href="{% url 'modules' college.slug school.slug %}">{{ school.name }}</a>
                    </li>
                {% endfor %}
                </ul>
			{% else %}
				<strong>There are no schools available for {{ college.name }}</strong>
            {% endif %}
        </div>
    </div>

{% endblock %}